:root {
  --teal: #37bbca;
  --blue: #0191b6;
  --yellow: #f9d80d;
  --green: #d3de16;
  --orange: #ff7b17;
}

html {
  background-color: var(--teal);
}

.aside button {
   display: flex;
  justify-content: center;
  align-items: center;
  max-height: 19px;
  max-width: 19px;
  margin-left: 47px;
  padding: 4px !important;
  /* background-color: #37bbca; */
  color: black;
}

.aside-card {
  height: 14.28vh !important;
  width: 100% !important;
  min-height: 130px !important;
  min-width: 275px !important;
}

.aside-card-title {
  font-family: "Marcellus", serif !important;
  font-size: 15px !important;
  
}

.aside-card-text {
  font-size: 10px;
  
}

.card {
  font-size: 0.8rem;
  font-weight: bold;
}

span {
  text-decoration: underline;
  padding-right: 10px;
}

h6 {
  font-size: 18px !important;
}

h1 {
  color: white;
  background-color: var(--blue);
  font-family: "Marcellus", serif;
  padding-bottom: 10px;
}

select {
  background-color: var(--orange);
  border-color: var(--blue);
  border-radius: 10px;
}

option {
  border-radius: 10px;
}

#search-bar {
  margin-top: 350px;
}

#search-button {
  background-color: var(--green);
  color: var(--teal);
}

.card-img {
  background-size: cover;
  opacity: 0.1;
  filter: sepia(90%) hue-rotate(190deg) saturate(800%);
}

#search-results {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
}

.recipeCard {
  margin: 10px;
}

h5 {
  color: black;
}

.card-text {
  color: black;
}
