:root {
  --teal: #37bbca;
  --blue: #0191b6;
  --yellow: #f9d80d;
  --green: #79ca38;
  --orange: #ff7b17;
}

html {
  background-color: var(--blue);
}

.aside button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 19px;
  max-width: 19px;
  margin-left: 47px;
  padding: 4px !important;
  background-color: #ca3737;
  color: white;
  font-size: 10px;
}

.bgImage {
  border-radius: 0 !important;
}

.aside-card {
  height: 14.28vh !important;
  width: 100% !important;
  min-height: 130px !important;
  min-width: 275px !important;
  border: 2px solid white !important;
}

.aside-card-title {
  font-family: "Inter", sans-serif !important;
  font-weight: bolder !important;
  font-size: 15px !important;
  color: var(--blue);
  text-shadow: 0.05em 0 white, 0 0.05em white, -0.05em 0 white, 0 -0.05em white !important;
}

.aside-card-text {
  font-size: 10px;
  color: white !important;
  font-family: "Viga", sans-serif !important;
}

aside > .card {
  background-color: var(--orange);
  border-radius: 0 !important;
}

.card {
  font-size: 0.8rem;
  font-weight: bold;
}

span {
  padding-right: 10px;
}

h6 {
  font-size: 18px !important;
}

header {
  color: white;
  background-color: var(--blue);
  font-family: "Marcellus", serif;
  border-bottom: 2px solid white !important;
  border-top: 2px solid white !important;
  border-right: 2px solid white !important;
}

#page-header:pointer {
  curser: pointer;
}

h1 {
  font-size: 55px !important;
  margin-bottom: 0px;
}

select {
  background-color: var(--orange);
  border-color: var(--blue);
  border-radius: 10px;
  color: white;
  font-family: "Inter", sans-serif !important;
}

#background-image {
  max-height: 90vh;
}

option {
  border-radius: 10px;
}

#search-bar {
  margin-top: 350px;
  margin-bottom: 20px;
}

#search-button {
  background-color: var(--green);
  color: var(--blue);
}

.card-img {
  background-size: cover;
  opacity: 0.1;
  filter: sepia(100%) hue-rotate(220dg) saturate(900%);
}

#search-results {
  background-color: var(--blue);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
}

div > .recipeCard {
  background-color: var(--yellow);
  margin: 10px;
  font-size: 15px;
}

h5 {
  color: black;
}

.card-text {
  color: black;
}
.addBtn {
  background-color: var(--orange) !important;
  border-color: var(--blue) !important;
  border-radius: 10px !important;
  color: white !important;
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
}

.calendarSubmitForm {
  background-color: white;
  border: 3px solid var(--orange);
  border-radius: 15px;
  padding: 2px;
}

.modalButtons {
  background-color: var(--orange);
  margin: 5px;
  border-radius: 10px;
  color: white;
}
.modalStyle {
  margin: 12px;
  padding: 12px;
}

