:root {
  --teal: #37bbca;
  --blue: #0191b6;
  --yellow: #f9d80d;
  --green: #d3de16;
  --orange: #ff7b17;
}

html {
  background-color: var(--teal);
}

h1 {
  color: white;
  background-color: var(--blue);
  font-family: 'Marcellus', serif;
}

select {
    background-color: var(--orange)
}

#search-button {
  background-color: var(--green);
  color: var(--teal);
}